.product {
	&__list {
		margin-top: 50px;
		display: flex;
		flex-wrap: wrap;
		border-top: 1px solid $gray;
		border-left: 1px solid $gray;
	}
	&__item {
		width: 20%;
		padding: 10px;
		border-bottom: 1px solid $gray;
		border-right: 1px solid $gray;
		&:hover {
			box-shadow: 0 2px 12px rgba(0, 0, 0, 0.12);
			img {
				transform: translateY(-5px);
			}
		}
	}
	&__link {
		color: $black;
	}
	&__image {
		margin-bottom: 15px;
		text-align: center;
		img {
			max-height: 225px;
			transition: all 0.3s;
		}
	}
	&__info {
		display: flex;
		flex-direction: column;
		@include rfont(16, 18);
	}
	&__name {
	}
	&__price {
		margin-top: 8px;
		font-weight: 700;
	}
}
