.admin_container {
	max-width: 1440px;
	margin: 0 auto;
	@include rfont(16, 18);
	display: flex;
}
.admin_aside {
	flex-basis: 240px;
	.admin_gnb {
		&_item {
			padding: 5px 0;
			margin-top: 5px;
			.bx {
				margin-right: 10px;
			}

			a {
				&:hover,
				&.active {
					font-weight: 700;
				}
			}
		}
	}
}
.admin_content {
	flex: 1;
}
.admin_header {
	max-width: 1440px;
	margin: 0 auto;
	@include rfont(16, 18);
	display: flex;
	margin-bottom: 20px;
	align-items: center;
	img {
		height: 50px;
	}
	.logout {
		margin-left: auto;
		padding: 0 20px;
		max-height: 40px;
		.bx {
			@include rfont(26);
		}
	}
}

.btn_primary {
	@include rfont(15);
	padding: 9px 25px 8px;
	background: $blue2;
	border-radius: 3px;
	color: $white;
	&:hover {
		opacity: 0.9;
	}
}

.table {
	margin-top: 20px;
	td,
	th {
		border: 1px solid #ccc;
		padding: 10px 5px;
	}
	th {
		border-bottom: 0;
	}
	.btn_action {
		padding: 4px 6px;
		.bx {
			@include rfont(22);
			&:hover {
				color: red;
			}
		}
		&.primary {
			.bx:hover {
				color: $blue2;
			}
		}
	}
}
