html {
	font-size: $initial-font-size;
}
body,
input,
select,
textarea,
button,
a {
	font-family: "Roboto", "Apple SD Gothic Neo", sans-serif;
	color: #333;
}

.blind,
caption span,
legend {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 1px;
	font-size: 0;
	text-indent: -9999px;
	white-space: nowrap;
}
.container {
	max-width: 1440px;
	margin: 0 auto;
}
.content {
	display: flex;
	margin-top: 30px;
}
input {
	border: 1px solid #e8e8e8;
	border-radius: 3px;
	padding: 8px;
}
