@mixin breakpoint($point) {
	@if $point==desktop {
		@media screen and(min-width: $screen-lg) {
			@content;
		}
	} @else if $point==tablet {
		@media screen and(max-width: $screen-lg - 1) {
			@content;
		}
	} @else if $point==mobile {
		@media screen and(max-width: $screen-sm) {
			@content;
		}
	}
}

@mixin respond-above($mq) {
	@media (min-width: $mq) {
		@content;
	}
}

@mixin respond-between($mq-min, $mq-max) {
	@media (min-width: $mq-min) and (max-width: $mq-max) {
		@content;
	}
}

@mixin respond-below($mq) {
	@media (max-width: $mq) {
		@content;
	}
}

@mixin ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin ellipsis-multiline($line) {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: $line;
	-webkit-box-orient: vertical;
}

@mixin rfont($font-size, $line-height: false, $font-weight: false) {
	font-size: $font-size * 0.1rem;

	@if $line-height {
		line-height: $line-height / $font-size;
	}

	@if $font-weight {
		font-weight: $font-weight;
	}
}
