$black: #000;
$white: #fff;
$gray: #f1f1f1;
$gray2: #666;
$gray3: #333;
$blue: #5dc4e2;
$blue2: #1d8ba8;
$red: #d20023;

$initial-font-size: 10px;

$screen-xsm: 320px;
$screen-sm: 828px;
$screen-md: 1024px;
$screen-lg: 1366px;
$screen-xlg: 1920px;
